node_modules
dist
yarn-error.log

# all ad-hoc resumes
apps/portfolio/public/assets/ad-hoc-resumes/*
~$*.docx

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# turbo
.turbo
