node_modules
dist

# all ad-hoc resumes
resumes/AhmedHabeilaResume.pdf
~$*.docx

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# turbo
.turbo

# puppeteer cache
apps/puppeteer-backend/.puppeteer

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions