html,
body,
body > div#root {
	height: 100%;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 60px; /* header height */
}

.hope-notification__list {
	top: 60px;
}

ul {
	list-style-type: circle;
}

editor-squiggler {
	position: absolute;
}
